#Development
#MONGO_URI=mongodb://localhost:27017/jptracker
#PORT=4000
#NODE_ENV=development
#BITACORA_API_URL=http://localhost:3000
#BITACORA_API_KEY=12345678-9abc-def0-1234-56789abcdef0
#CALCULATOR_URL=http://localhost:3600/procesar-transacciones
#CALCULATOR_PORTFOLIO_URL=http://localhost:3600/portfolio-profitability

#Production
MONGO_URI=mongodb://localhost:27017/jptrack_bot
PORT=4000
NODE_ENV=pdevelopment
BITACORA_API_URL=https://ttrading.shop:4000
BITACORA_API_KEY=12345678-9abc-def0-1234-56789abcdef0
CALCULATOR_URL=https://ttrading.shop:3600/procesar-transacciones
CALCULATOR_PORTFOLIO_URL=https://ttrading.shop:3600/portfolio-profitability


